@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@1,900&display=swap');
body{
    font-family: 'Lato';
    overflow-x: hidden;
}
h2 , h3 , h4 ,h5{
    font-family: 'Merriweather';
    font-style: italic ;
    font-weight: 900;
}
ol, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a{
    color:$gray-900;
    &:hover{
        text-decoration: none;
        opacity: 0.5;
    }
}
img{
    display: block;
}