.logo{
    background: url(../images/logo-fixie.svg);
    width: 112px;
    height: 48px;
}
//picture 
.header-pic{
    min-height: 864px;
}
.section-pic{
    min-height: 960px;
}
.quote-pic{
    height: 640px;
    background-attachment: fixed;
}
.article-pic{
    height: 600px;
}

//Read More Btn
.vertical-btnL-position{
    top:50%;
    right:-65px;
    @include media-breakpoint-down(md) {
        top:50%;
        left:50%;
        transform: translate( -50% , -50%);
        white-space: nowrap;
    }
}
.vertical-btnR-position{
    top:50%;
    left:-152px;
    @include media-breakpoint-down(md) {
        top:50%;
        left:50%;
        transform: translate( -50% , -50%);
        white-space: nowrap;
    }
}

// AOS

[data-aos="translateX-left"] {
    transition: all .5s;
    transform: translateX(0px);
    &.aos-animate {
        transform: translateX(-30px);
        @include media-breakpoint-down(md){
            transform: translateX(-20px);
        }
    }    
}
[data-aos="translateX-right"] {
    transition: all .5s;
    transform: translateX(0px);
    &.aos-animate {
        transform: translateX(30px);
        @include media-breakpoint-down(md){
            transform: translateX(10px);
        }
    }
}
